html,
body {
  padding: 0;
  margin: 0;
  font-family: "San Francisco", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: San Francisco;
  src: url("/fonts/SFProOTF/SF-Pro-Text-medium.otf") format("opentype");
}

@font-face {
  font-family: San Francisco Display Black;
  src: url("/fonts/SFProOTF/SF-Pro-Display-Black.otf") format("opentype")
}

@font-face {
  font-family: San Francisco Display;
  src: url("/fonts/SFProOTF/SF-Pro-Display-Bold.otf") format("opentype")
}

@font-face {
  font-family: San Francisco Light;
  src: url("/fonts/SFProOTF/SF-Pro-Display-Light.otf") format("opentype")
}

@font-face {
  font-family: San Francisco Rounded Thin;
  src: url("/fonts/SFProOTF/SF-Pro-Rounded-Thin.otf") format("opentype")
}

@font-face {
  font-family: San Francisco Rounded Black;
  src: url("/fonts/SFProOTF/SF-Pro-Rounded-Black.otf") format("opentype")
}

body.wonderland-labs {
  position: relative;
}

.wll-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

#__next {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.site-header {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#00637c+16,00c3ff+70,ffffff+100 */
  background: #00637c; /* Old browsers */
  background: -moz-linear-gradient(top,  #00637c 5%, #00c3ff 40%, #ffffff 90%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #00637c 5%,#00c3ff 40%,#ffffff 90%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #00637c 5%,#00c3ff 40%,#ffffff 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00637c', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

h1 {
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
}

h2, h3, h4 {
  margin-block-start: 0.25rem;
  margin-block-end: 0.25rem;
}

.article-link h2 small, .intro h1 small {
  color: rgba(0,0,0,0.5);
  font-family:  "San Francisco Light", "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  display: inline-block;
  margin-left: 2rem;
}

.hamburger-container {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

.noWrap, .noWrap * {
  white-space: nowrap;
}

form *, input, textarea, form button {
  font-family: Ubuntu, "San Francisco", "Helvetica Neue", sans-serif;
}
